@CHARSET "UTF-8";
.merchant-promotions-ul {
	width: 100%;
	height: 12em;
	text-align: center;
	vertical-align: middle;	
	overflow: hidden;
	background-color: #FFF;
	margin-top: 90px;
}
.merchant-promotions-ul .promotions-li {
	margin-top: 1em;
	height: 11em;
	float: left;
	width: 60%;
	display: block;
    overflow: hidden;
	position: relative;
}
.merchant-promotions-ul .promotions-li .goods-border {
    border: 1px solid #eaeaea;
    position: absolute;
    height: 4.5em;
    left: 99%;
    top: 35px;
}
.merchant-promotions-ul .promotions-li .store-left {
	float: left;
	margin-left: 2em;
}
.merchant-promotions-ul .promotions-li .store-right {
	float: left;
    margin: .5em 1em;
    text-align: left;
    font-size: 1em;
    width: 70%;
    display: inline-block;
    left: 35px;
}
.merchant-promotions-ul .promotions-li .store-info {
    font-size: 14px;
	color: #333;
	margin: 3px 0;
}  
.merchant-promotions-ul .promotions-li .store-right .store-title .manage-mode,
.ecjia-content .store-comment .store-detail .store-option .store-right .manage-mode {
    color: #FFF;
    background-color: #47AA4D;
    border-radius: 4px;
    font-size: 13px;
    padding: 2px;
    width: 2em;
    display: inline-block;
	text-align: center;
	margin-left: 7px;
}
.merchant-promotions-ul .promotions-li .store-right .store-range {
	margin: 1em 0;
}    
.merchant-promotions-ul .promotions-li .store-right .store-range .trade-time {
    background: url(../images/icon/clock_50.png);
    width: 1.5em;
    height: 1.3em;
    background-size: 1.3em;
    background-repeat: no-repeat;
    float: left;
}
.merchant-promotions-ul .promotions-li .store-right .store-description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}   
.merchant-promotions-ul .promotions-li .store-right .store-description .shop-notice {
    background: url(../images/icon/bugle_50.png);
    width: 1.5em;
    height: 1.3em;
    background-size: 1.3em;
    background-repeat: no-repeat;
    float: left;
}
.ecjia-content .store-comment {
	background-color: #FFF;
	margin: 10px auto;
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
}
.ecjia-content .store-comment.m_b0 {
	margin-bottom: 0;
	margin-top: 13px;
}
.ecjia-content .store-comment .store-header {
    width: 450px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-size: 15px;
    color: #333;
    margin-left: 375px;
}
.ecjia-content .store-comment .store-header .store-header-li {
	width: 150px;
	float: left;
    padding: 20px 0;
}
.ecjia-content .store-comment .store-header .store-header-li.active{
	border-bottom: 3px solid #47aa4d;
    color: #47aa4d;
}
.store-header-hr {
	width: 1150px;
	margin: auto;
	background-color: #eaeaea;
}
.ecjia-content .store-comment .comment-list {
	padding: 24px;
	padding-bottom: 0;
}
.ecjia-content .store-comment .comment-list li {
	border-bottom: 1px solid #eee;
	display: inline-block;
	width: 100%;
	min-height: 10em;
}
.ecjia-content .store-comment .comment-list li.no_bottom {
	border-bottom: none;
}
.ecjia-content .store-comment .comment-list .user-avatar {
	width: 70px;
    float: left;
	margin-top: 1em;
}
.ecjia-content .store-comment .comment-list .user-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
}
.ecjia-content .store-comment .comment-list .comment-right {
	color: #333;
    float: right;
    margin: 1.5em 1em;
    text-align: left;
    font-size: 13px;
    width: 1055px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ecjia-content .store-comment .comment-list .comment-right .comment-username { 
    font-size: 16px;
    display: inline;
}
.ecjia-content .store-comment .comment-list .comment-right .comment-content {
	margin: 10px 0;
}
.ecjia-content .store-comment .comment-list .comment-right .comment-time {
	float: right;
	font-size: 1em;
}
.ecjia-content .store-comment .comment-list .comment-right .img-list {
    padding: 10px 0;
}
.ecjia-content .store-comment .comment-list .comment-right .img-list figure {
	margin: 0;
	margin-right: 5px;
    display: inline-block;
}
.ecjia-content .store-comment .comment-list .comment-right .img-list .img_s {
	width: 70px;
	height: 70px;
	border-radius: 4px;
    border: 1px solid #ddd;
}
.ecjia-content .store-comment .comment-list .comment-right .img-list .img_b {
	width: 200px;
	height: 200px;
	border-radius: 4px;
    border: 1px solid #ddd;
}
.ecjia-content .store-comment .comment-list .comment-right .store-reply {
    padding: 14px .8em;
    font-size: 1em;
    color: #333;
    max-height: 4.8em;
    height: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: inline-table;
    background: #F4F5F4;
    margin-right: .5em;
	margin-top: 10px;
    border-radius: 4px;
	width: 99%;
}
.ecjia-content .store-comment .screen-list {
	margin-left: 24px;
	font-size: 15px;
	margin-top: 1em;
    display: inline-block;
	color: #333;
}
.ecjia-content .store-comment .screen-list .screen-module {
	text-align: center;
	float: left;
	cursor: pointer; 
	margin: 0 1em;
}
.ecjia-content .store-comment .screen-list .screen-module div {
    border-radius: 50px;
    padding: .3em;
    display: block;
    font-size: .9em;
    width: auto;
    padding: 4px 12px;
    text-align: center;
}
.ecjia-content .store-comment .screen-list .screen-module .active {
	background-color: #47aa4d;
    color: #fff;
    border: 1px solid #fff;
}
.ecjia-content .store-comment .store-detail {
	padding: 3em 25em;
	text-align: center;
}
.ecjia-content .store-comment .store-detail .store-detail-hr {
    margin: 2em auto;
    background-color: #eaeaea;
}
.ecjia-content .store-comment .store-detail .store-info {
	text-align: left;
}
.ecjia-content .store-comment .store-detail .store-option {
    height: auto;
    overflow: hidden;
	width: 600px;
    display: inline-block;
	color: #333;
}
.ecjia-content .store-comment .store-detail .store-option .store-left img,
.merchant-promotions-ul .promotions-li .store-left>img {
	height: 120px;
	width: 120px; 
}
.ecjia-content .store-comment .store-detail .store-option dl {
    float: left;
    width: 200px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
	font-size: 16px;
}
.ecjia-content .store-comment .store-detail .store-option dl dt {
	color: #ff3434;
	margin-bottom: 5px;
	font-size: 18px;
}
.ecjia-content .store-comment .store-detail .store-detail-title-border {
    border: 1px solid #eaeaea;
    height: 1.5em;
	float: right;
	margin-top: -35px;
}
.ecjia-content .store-comment .store-detail .store-left {
	float: left;
	margin-left: 7em;
}
.ecjia-content .store-comment .store-detail .store-option .store-right {
	display: inline-block;
	float: left;
    margin: 1em 3em;
	text-align: left;
}
.ecjia-content .store-name {
	font-size: 24px;
	color: #333;
}
.ecjia-content .business-status {
	color: #FFF;
    background-color: #ff3434;
    border-radius: 20px;
    font-size: 15px;
    height: 1.5em;
    padding: 2px;    
    width: 4.5em;
    display: inline-block;
	text-align: center;
	margin-left: 1em;
}
.ecjia-content .store-comment .store-detail .store-range {
	margin: .5em auto;
	font-size: 15px;
	color: #333;
}
.ecjia-content .store-comment .store-detail .range18 {
	margin: .5em auto;
	font-size: 16px;
	color: #333;
}
.ecjia-content .store-comment .store-map {
	text-align: center;
	margin-top: 1em;
}
.ecjia-content .store-comment .store-map #allmap { 
	height: 400px;
	width: 540px;
}
.ecjia-content .ecjia-cycleimage {
	margin: 0 auto;
	width: 1200px;
	height: 400px;
}
.ecjia-content .ecjia-cycleimage img {
	width: 1200px;
	height: 400px;
}

.ecjia-content .merchant-promotions-ul .store-link {
    width: 40%;
    float: right;	
}
.ecjia-content .merchant-promotions-ul .store-link .prompt-message {
    color: #333;
    margin-left: 5em;
    line-height: 9.5;
    float: left;
    font-size: 15px;
}
.ecjia-content .merchant-promotions-ul .store-link .store-qrcode {
	float: right;
	display: inline;
	margin: 1em 2em;
}
.ecjia-content .merchant-promotions-ul .store-link .store-qrcode img {
	width: 120px;
	height: 120px;
}
.ecjia-content .merchant-promotions-ul .store-link .store-green {
	color: #47AA4D;
	margin-left: 1em;
}
.ecjia-content .store-comment .promotion-code {
	height: auto;
	min-height: 9em;
	width: 100%;
}
.ecjia-content .store-comment .promotion-code .promotion-span {
    width: 10%;
    text-align: center;
    display: inline-block;
	font-size: 15px;
	line-height: 8;
	color: #333;
}
.ecjia-content .store-comment .promotion-code .promotion-ul {
	width: 85%;
	float: right;
	margin: .5em 1em;
}
.ecjia-content .store-comment .promotion-code .promotion-ul .promotion-ul-li {
	float: left;
	width: 24%;
	text-align: center;
    margin: 5px 10px 5px 0;
	height: 8em;
}
.ecjia-content .store-comment .promotion-code .promotion-ul .promotion-ul-li:nth-child(4n) {
	margin-right: 0;
}

.ecjia-content .store-comment .promotion-code .promotion-ul .promotion-ul-li .ticket {
	width: 100%;
	height: 8em;
	background-color: #ee5b5b;
	color: #fff;
	border-radius: 4px;
}
.ecjia-content .store-comment .promotion-code .promotion-ul .promotion-ul-li .ticket .a6d {
    text-align: center;
    line-height: 95px;
    white-space: nowrap;
    float: left;
    width: 110px;
    overflow: hidden;
}
.ecjia-content .store-comment .promotion-code .promotion-ul .promotion-ul-li .ticket .a6e {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: table-cell;
    vertical-align: middle;
    width: 122px;
    height: 8em;
}
.ecjia-content .store-comment .promotion-code .promotion-ul .promotion-ul-li .ticket .a6e p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ecjia-content .store-comment .promotion-code .promotion-ul .promotion-ul-li .ticket .a6e .view-detail {
    text-align: center;
    color: #FFF;
    line-height: 22px;
    background-color: #47AA4D;
    border-radius: 40px;
    border: none;
    font-size: 12px;
    display: block;
    float: right;
    width: 65px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ecjia-content .store-comment .promotion-code .promotion-ul .promotion-ul-li .ticket .a6d .promotion-num {
	font-size: 2em;
}
.ecjia-content .store-detail-info {
	color: #333;
	position: absolute;
	display: none;
	border-top: 1px solid #eaeaea;
	background-color: #FFF;
	width: 570px;
	min-height: 250px;
	text-align: center;
}
.ecjia-content .store-detail-info .message-block {
    height: auto;
    overflow: hidden;
    width: 510px;
    display: inline-block;
	border-bottom: 1px dashed #eaeaea;
}
.ecjia-content .store-detail-info .message-block dl {
	float: left;
	width: 170px;
	text-align: center;
	font-size: 16px;
	margin: 2em auto;
}
.ecjia-content .store-detail-info .message-block dl dt {
	color: #ff3434;
	font-size: 18px;
	margin-bottom: 7px;
}
.ecjia-content .store-detail-info .message-block .message-border {
	border: 1px solid #eaeaea;
	float: right;
    height: 1.5em;
    margin-top: -35px;
}
.ecjia-content .store-detail-info .about-store {
	padding: 1em 30px;
	text-align: left;
}
.ecjia-content .store-detail-info .about-store p {
	font-size: 16px;
	margin: .5em auto;
}
.ecjia-content .store-detail-info .about-store .f34 {
	color: #ff3434;
}
.ecjia-content .merchant-promotions-ul .triangle {
    left: 94%;
    margin-top: 102px;
	position: absolute;
	display: inline;
	float: right; 
	clear: both;  
	font-size: 0;  
    line-height: 0;  
    border-width: 10px;  
    border-color: #333;  
    border-top-width: 0;  
    border-style: dashed;  
    border-bottom-style: solid;  
    border-left-color: transparent;  
    border-right-color: transparent; 
}
.ecjia-content .merchant-promotions-ul .triangle-b {
    left: 94%;
    margin-top: 102px;
	position: absolute;
	display: inline;
	float: right; 
	clear: both;  
	font-size: 0;  
    line-height: 0;  
    border-width: 10px;  
    border-color: #333;  
    border-bottom-width: 0;  
    border-style: dashed;  
    border-top-style: solid;  
    border-left-color: transparent;  
    border-right-color: transparent; 
}
.background-f6 {
	background-color: #F6F6F6;
}
.ecjia-content .store-comment .f-line {
	color: #333;
	border-bottom: 1px solid #eaeaea;
} 
.ecjia-content .store-comment .no-comment {
	text-align: center;
	line-height: 392px;
	font-size: 14px;
}
.no-content-mt80 {
	margin-top: 80px;
}