.goods_info_back {
	background-color: #f6f6f6;
    width: 100%;
    margin-top: 80px;
}
.goods_info {
	margin-top:8em;
}
.goods_info .no_goods_info {
    height: 400px;
    background: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 400px;
    margin: 20px auto;
}

.goods_info .green{
	background-color: #47aa4d;
	color: #FFF!important;
    border : 0!important;
}
.goods_info .goods_current_screen{
    line-height: 50px;
    font-size: 15px;
    color: #333;
}
.goods_info .goods_current_screen a:last-child{
    color: #47aa4d;
}
.goods_info .goods_current_screen i{
	padding: 0 5px;
}
.goods_info .goods_info_panel{
    width: 77%;
    background-color: #FFF;
    float: left;
}

.goods_info .goods_info_panel .f_goods_info_msg{
    width: 500px;
    float: left;
    margin-top: 1.5em;
}

.goods_info .goods_info_panel img {
    max-width: 20em;
    height: 20em;
    width: 100%;
    padding: 1.5em 1em 1.5em 1.5em;
    float: left;
}
.goods_info .goods_info_panel .goods_info_msg{
	float: left;
    padding-top: 1.5em;
    width: 42em;
    white-space: nowrap;
    height: 2em;
}
.goods_info .goods_info_panel .f_goods_info_msg .goods_name{
	font-size: 1.5em;
	color: black;
    margin-left: 10px;
	width: 100%;
}
.goods_info .goods_info_panel .goods_attribute {
	float: left;
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
}
.goods_info .goods_info_panel .goods_attribute p{
    padding-top: .5em;
    padding-bottom: 1em;
    height: 1em;
    line-height: 1em;
    width: 100%;
    color: #333;
}
.goods_info .goods_info_panel .goods_attribute .privilege .panel_red{
    color: red!important;
    display: block;
    margin-left: 4.5em;
}
.goods_info .goods_info_panel .goods_attribute .privilege .panel_red:not(:first-child) {
    margin-bottom: .5em;
}
.goods_info .goods_info_panel .goods_attribute p span:first-child {
    margin-left: 1em;
    font-size: 15px;
    color: #333;
}
.goods_info .goods_info_panel .goods_attribute span:not(:first-child){
	margin-left: 25px;
    font-size: 15px;
    color: #333;
}
.goods_info .goods_info_panel .goods_attribute .goods_price {
    height: 40px;
    line-height: 55px;
    /*margin-bottom: 10px;*/
    padding-top: 0;
    padding-bottom: 0;
}
.goods_info .goods_info_panel .goods_attribute .goods_price .fl_price{
    color: red;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 55px;
    margin-left: 1em!important;
}
.goods_info .goods_info_panel .goods_attribute .privilege {
    padding-top: .8em;
}
.goods_info .goods_info_panel .goods_attribute .privilege span:first-child{
    float: left;
    font-size: 15px;
    color: #333;
    margin-left: 1em;
}
.goods_info .goods_info_panel .goods_attribute .goods_price .original_price{
	text-decoration: line-through;
}
.goods_info .goods_info_panel .goods_attribute .goods_price .sao_small_img{
	margin: 0;
 	float: right;
    margin-right: 2em;
    height: 7em;
    width: 7em;
}
.goods_info .goods_info_panel .sao_small_img {
    float: right;
    margin-right: 1.5em; 
    margin-top: 1.5em; 
    padding: 0;
    height: auto;
    width: 120px;
}
.goods_info .goods_info_panel .sao_small_img img{
    padding: 0;
    height: auto;
    width: 120px;
}
.goods_info .goods_info_panel .sao_small_img p {
    text-align: center;
}
.goods_info .goods_info_panel .sao_small_img p span:not(:first-child){
    color: #47aa4d;
    margin-left: 5px;
}
.goods_info .goods_info_panel .goods_attribute .panel_red{
	color: red;
}
.goods_info .goods_info_panel .goods_attribute .sold_out{
    margin-top: .8em;
 	/*margin-bottom: .5em;*/
    margin-bottom: .3em;
}
.goods_info .goods_info_panel .goods_attribute .standard{
    height: 2em;
    padding: 0;
    float: left;
    margin-left: 1em!important;
    margin-right: 1em;
    /*line-height: 2em;*/
}
.goods_info .goods_info_panel .goods_attribute ul{
    height: 2em;
    max-width: 49em;
    margin-bottom: .8em;
}
.goods_info .goods_info_panel .goods_attribute li{
    cursor: pointer;
    float: left;
    border: 1px solid #eaeaea;
    border-radius: 50px;
    padding: 0.3em;
    display: block;
    margin: 0 0 0 5px;
    font-size: 14px;
    text-align: center;
    width: 4em;
    margin-right: 1em;
    height: 1em;
    line-height: 1em;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.panel_sao {
	position: absolute;
	display: none;
}
 .panel_sao .panel_sao_pa{
    background: url(../images/saoyisao.png) no-repeat center;
    text-align: center;
    margin: 10px 0px 0 555px;
    top: 16em;
    height: 24em;
    width: 20em;
}
 .panel_sao .panel_sao_pa p{
    font-size: 1.4em;
    padding-bottom: 1em;
    width: 13em;
    float: left;
}
 .panel_sao .panel_sao_pa p span{
	margin-left: 1em;
}
 .panel_sao .panel_sao_pa p span:not(:first-child){
    color: #47aa4d;
}
 .panel_sao .panel_sao_pa img{
    padding: 0;
    height: 17em;
    width: 17em;
    margin: 20px 0 0 13px;
    float: left;
}
.goods_info .merchant {
    width: 22%;
    overflow: hidden;
    height: 398px;
    float: right;
    background-color: #FFF;
}
.goods_info .merchant .merchant_title {
	background-color: #fff;
    width: 100%;
    height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #eaeaea;
	font-size: 15px;
    padding-left: 10px;
    color: #333;
}
.goods_info .merchant .merchant_img {
    max-width: 100%;
    height: 15em;
    text-align: center;
    margin: auto;
    display: table;
    margin-top: 5px;
}
.goods_info .merchant .merchant_img span{
    display: table-cell;
    vertical-align: middle;
     text-align: center;
}
.goods_info .merchant .merchant_img img{
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 150px;
    height: 150px;
}
.goods_info .merchant .merchant_name {
    font-size: 1.5em;
    text-align: center;
}
.goods_info .merchant .merchant_name p{
    color: #333;
    font-size: 18px;
}
.goods_info .merchant .store-range .score-val {
    text-align: center;
    margin: 12px 0; 
}
.goods_info .merchant .merchant_order_msg {
    font-size: 1.2em;
	padding: 0 15px;
}
.goods_info .merchant .merchant_order_msg p{
    margin-bottom: 10px;
}
.goods_info .merchant .merchant_order_msg p span:first-child{
    color: #333;
    font-size: 15px;
}
.goods_info .merchant .merchant_order_msg p span:not(:first-child){
    color: red;
    float: right;
    font-size: 15px;
}
.goods_info .goods_introduce {
	width: 77%;
    min-height: 468px;
    background-color: #FFF;
    float: left;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 30px;
    display: table;
}
.goods_info .goods_introduce .cut_off{
    padding: 1em 1em 0 1em;
}
.goods_info .goods_introduce .cut_off img{
    width: 100%;
}
.goods_info .goods_introduce .specification{
    /*float: left;*/
    width: 100%;
    margin-bottom: 10px;
}
.goods_info .goods_introduce .specification .parameters{
    padding: 10px 40px;
    /*margin: 10px 0;*/
}
.goods_info .goods_introduce .specification .parameters span {
    display: inline-block;
    color: #333;
    width: 48%;
    font-size: 15px;
}
.goods_info .goods_introduce .specification .parameters p{
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    margin-top: 5px;
	margin-bottom: 5px;
    float: left;
}
.goods_info .goods_introduce .specification .parameters .p2 {
    display: inline-block;
    width: 50%;
    float: right;
}
.goods_info .goods_introduce .goods_introduce_title{
    width: 100%;
    height: 2.5em;
    padding-top: 10px;
    margin-bottom: 20px;
    float: left;
}
.goods_info .goods_introduce .goods_specification{
    width: 100%;
    height: 2.5em;
    padding-top: 10px;
}
.goods_info .goods_introduce .no_goods_desc{
    text-align: center;
    font-size: 17px;
    display: table-row;
    vertical-align: middle;
}
.goods_info .goods_introduce .goods_specification .rhombus{
    width: 10px;
    height: 10px;
    background-color: black;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 10px 16px 0 27px;
    float: left;
}
.goods_info .goods_introduce .goods_specification .goods_description{
    font-size: 15px;
    padding-top: 3px;
    float: left;
    color: #333;
}
.goods_info .goods_introduce .goods_introduce_title .rhombus{
    width: 10px;
    height: 10px;
    background-color: black;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 10px 16px 0 27px;
    float: left;
}
.goods_info .goods_introduce .goods_introduce_title .goods_description{
    font-size: 15px;
    padding-top: 3px;
    float: left;
    color: #333;
}
.goods_info .goods_introduce .goods_introduce_detail p img {
    width: 100%;
}
.goods_info .down_sao {
    position: relative;
    width: 22%;
    overflow: hidden;
    min-height: 235px;
    float: right;
    height: 28em;
    margin-top: 10px;
    background-color: #47aa4d;
}
.goods_info .down_sao .sao_code {
    max-width: 100%;
    height: 15em;
    text-align: center;
    display: table;
    margin: auto;
    margin-top: 2em;
    background-color: #47aa4d;
    position: absolute;
}
.goods_info .down_sao .sao_code .sao_back {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 25em;
}
.goods_info .down_sao .sao_code .sao_back img{
    width: 215px;
    height: 215px;
}
.goods_info .down_sao .sao_code span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 19.5em;
    /*height: 21em;*/
}
.goods_info .down_sao .sao_code img{
	text-align: center;
    vertical-align: middle;
}
.goods_info .down_sao .sao_tow{
    position: absolute;
    width: 200px;
    margin-top: 8px;
    left: 14px;
}
.goods_info .down_sao .sao_tow img{
    width: 200px;
    height: 200px;
}
.goods_info .sao_text {
	margin-top: 22em;
}
.goods_info .sao_text p {
	color: #FFF;
	text-align: center;
	font-size: 18px;
}
.goods_info .goods_introduce .goods_introduce_detail{
    min-height: 400px;
    padding: 0 40px 40px 40px;
}
.goods_info .goods_introduce .goods_introduce_detail table {
    max-width: 845px;
}
.goods_info .goods_introduce .goods_introduce_detail li {
    list-style-type: disc;
}
.goods_info .goods_introduce .goods_introduce_detail span {
    font-weight: inherit;
}